aiohttp
aiosignal
altgraph
anyio
async-timeout
attrs
bcrypt
certifi
cffi
charset-normalizer
cryptography
discord.py
distro
docker
docker-compose
dockerpty
docopt
frozenlist
future
h11
h2
hpack
httpcore
httpx
hyperframe
idna
jsonschema
load-dotenv
macholib
multidict
openai
packaging
paramiko
pycparser
PyNaCl
pyrsistent
python-dotenv
python-telegram-bot>=13.5
PyYAML
requests
rfc3986
six
sniffio
texttable
tqdm
urllib3
websocket-client
yarl
style
pip
wheel
tornado
pymongo
pytz
telegram
Click
regex
setuptools
behave
parse
update
portalocker
watchdog
chardet
filters
python-dateutil
plumbum
tzlocal
cachier
loguru
updater
MessageHandler
APScheduler
cachetools
pyparsing
Jinja2
zipp
Flask